In [1]:
#Import required Libraries
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import StaleElementReferenceException
import warnings
warnings.filterwarnings('ignore')

Q.1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
 You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
driver = webdriver.Chrome(r"C:\Users\rahsh\Downloads\driver\chromedriver.exe")

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
# Let's create an empty lists to store the scraping data
Rank=[]
Name=[]
Artist=[]
Views=[]
Upload_Date=[]

#Let's create a function to get the details of most viewed video on youtube
rank = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in rank:
    Rank.append(i.text)
name = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in name:
    Name.append(i.text)
artist = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in artist:
    Artist.append(i.text)
view = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in view:
    Views.append(i.text)
date = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for i in date:
    Upload_Date.append(i.text)

In [5]:
# Let's create the dataframe from the scraped data
videos=pd.DataFrame({})
videos['Rank']=Rank[0:30]
videos['Name']=Name[0:30]
videos['Artist']=Artist[0:30]
videos['Upload Date']=Upload_Date[0:30]
videos['Views (Billions)']=Views[0:30]
videos

,Rank,Video Name,Artist,Upload Date,Views (Billions)
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.44
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.32
2,3.,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",5.29
3,4.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016",5.24
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.08
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.43
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.16
7,8.,"""Gangnam Style""[32]",Psy,"July 15, 2012",4.05
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,"February 27, 2018",3.97
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.95
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.78
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.45
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.43
13,14.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.34
14,15.,"""Dame Tu Cosita""[40]",El Chombo,"April 5, 2018",3.28
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.27
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.24
17,18.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.05
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.05
19,20.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.05
20,21.,"""Lean On""[46]",Major Lazer Official,"March 22, 2015",3.02
21,22.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.01
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.01
23,24.,"""Let Her Go""[49]",Passenger,"July 25, 2012",2.97
24,25.,"""Mi Gente""[50]",J Balvin,"June 29, 2017",2.90
25,26.,"""Wheels on the Bus""[51]",Cocomelon – Nursery Rhymes,"May 24, 2018",2.89
26,27.,"""Hello""[52]",Adele,"October 22, 2015",2.83
27,28.,"""Perfect""[53]",Ed Sheeran,"November 9, 2017",2.82
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.80
29,30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.77

In [1]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import StaleElementReferenceException
import warnings
warnings.filterwarnings('ignore')

Q.2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
driver = webdriver.Chrome(r"C:\Users\rahsh\Downloads\driver\chromedriver.exe")

In [3]:
driver.get("https://www.bcci.tv/")

In [4]:
international = driver.find_element_by_xpath("//div[@class = 'navigation__drop-down drop-down drop-down--reveal-on-hover']")
international.click()

In [5]:
fixtures = driver.find_element_by_xpath("//a[@href = '/international/fixtures']")
fixtures.click()

In [6]:
#create an empty list to store scraped data
Title=[] 
Series=[]
Place=[] 
Date=[] 
Time=[]

#Now fetching the data 
title = driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
for x in title:
    Title.append(x.text)
series = driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]/span[2]')
for x in series:
    Series.append(x.text)
place = driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')
for x in place:
    Place.append(x.text)
date = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/span')
month = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/div/span[1]')
for x in range(len(date)):
    Date.append(date[x].text + month[x].text)
time = driver.find_elements_by_xpath('//div[@class="fixture__full-date"]/div/span[2]')
for x in time:
    Time.append(x.text)
    
# NOW create the dataframe for scraped data
INT_FIX=pd.DataFrame({})
INT_FIX['Match Title']=Title
INT_FIX['Series']=Series
INT_FIX['Place']=Place 
INT_FIX['Date']=Date
INT_FIX['Time']=Time
INT_FIX

,Match Title,Series,Place,Date,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP FINAL,"The Ageas Bowl, Southampton",18JUNE,15:30 IST
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04AUGUST,15:30 IST
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12AUGUST,15:30 IST
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25AUGUST,15:30 IST
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02SEPTEMBER,15:30 IST
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10SEPTEMBER,15:30 IST

Q.3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [1]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import StaleElementReferenceException
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome(r"C:\Users\rahsh\Downloads\driver\chromedriver.exe")

In [3]:
driver.get("https://www.guru99.com/")

In [4]:
selenium_tutorial = driver.find_element_by_xpath("//ul[@class = 'menu']/li[3]/a")
selenium_tutorial.click()

In [5]:
sel_handling = driver.find_element_by_xpath("//table[@class='table']/tbody/tr[34]/td/a")
sel_handling.click()

In [6]:
Name=[]
Description=[]

In [7]:
name = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for i in name:
    Name.append(i.text)
describe = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for i in describe:
    Description.append(i.text)

In [8]:
SEH=pd.DataFrame({})
SEH['Exception Name']=Name[1:]
SEH['Description']=Description[1:]
SEH

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Q.4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [25]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import StaleElementReferenceException
import warnings
warnings.filterwarnings('ignore')

In [26]:
driver = webdriver.Chrome(r"C:\Users\rahsh\Downloads\driver\chromedriver.exe")

In [27]:
driver.get("http://statisticstimes.com/")

In [28]:
economy = driver.find_element_by_xpath("//div[@id='top']/div[2]/div[2]/button/i").click()

In [29]:
india = driver.find_element_by_xpath("//a[@href= 'economy/india-statistics.php']").click()

In [32]:
stategdp = driver.find_element_by_xpath("//a[@href= 'india/indian-states-gdp.php']").click()

In [31]:
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP = []

In [35]:
rank = driver.find_elements_by_xpath("//table[@id= 'table_id']/tbody/tr/td[1]")
for i in rank:
    Rank.append(i.text)
state = driver.find_elements_by_xpath("//table[@id= 'table_id']/tbody/tr/td[2]")
for i in state:
    State.append(i.text)
gsdp1 = driver.find_elements_by_xpath("//table[@id= 'table_id']/tbody/tr/td[3]")
for i in gsdp1:
    GSDP1.append(i.text)
gsdp2 = driver.find_elements_by_xpath("//table[@id= 'table_id']/tbody/tr/td[4]")
for i in gsdp2:
    GSDP2.append(i.text)
share = driver.find_elements_by_xpath("//table[@id= 'table_id']/tbody/tr/td[5]")
for i in share:
    Share.append(i.text)
gdp = driver.find_elements_by_xpath("//table[@id= 'table_id']/tbody/tr/td[6]")
for i in gdp:
    GDP.append(i.text)

In [37]:
import pandas as pd
GDP_INDIA = pd.DataFrame({})
GDP_INDIA["Rank"] = Rank
GDP_INDIA["State"] = State
GDP_INDIA["GSDP_19-20"] = GSDP1
GDP_INDIA["GSDP_18-19"] = GSDP2
GDP_INDIA["Share"] = Share
GDP_INDIA["GDP(billion_dollars)"] = GDP
GDP_INDIA

,Rank,State,GSDP_19-20,GSDP_18-19,Share,GDP(billion_dollars)
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.35%,239.656
3,4,Gujarat,-,"1,502,899",7.92%,227.276
4,5,Karnataka,"1,631,977","1,493,127",7.87%,225.798
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
8,9,Telangana,"969,604","861,031",4.54%,130.210
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
10,11,Kerala,-,"781,653",4.12%,118.206
11,12,Delhi,"856,112","774,870",4.08%,117.180
12,13,Haryana,"831,610","734,163",3.87%,111.024
13,14,Bihar,"611,804","530,363",2.80%,80.204
14,15,Punjab,"574,760","526,376",2.77%,79.601
15,16,Odisha,"521,275","487,805",2.57%,73.768
16,17,Assam,-,"315,881",1.67%,47.769
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982
18,19,Jharkhand,"328,598","297,204",1.57%,44.945
19,20,Uttarakhand,-,"245,895",1.30%,37.186
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
22,23,Goa,"80,449","73,170",0.39%,11.065
23,24,Tripura,"55,984","49,845",0.26%,7.538
24,25,Chandigarh,-,"42,114",0.22%,6.369
25,26,Puducherry,"38,253","34,433",0.18%,5.207
26,27,Meghalaya,"36,572","33,481",0.18%,5.063
27,28,Sikkim,"32,496","28,723",0.15%,4.344
28,29,Manipur,"31,790","27,870",0.15%,4.215
29,30,Nagaland,-,"27,283",0.14%,4.126
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721
31,32,Mizoram,"26,503","22,287",0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

Q.5 Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [39]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import StaleElementReferenceException
import warnings
warnings.filterwarnings('ignore')

In [46]:
driver = webdriver.Chrome(r"C:\Users\rahsh\Downloads\driver\chromedriver.exe")

In [47]:
driver.get("https://github.com/")

In [48]:
threebar = driver.find_element_by_xpath("//div[@class='d-flex flex-items-center']/button").click()

explore = driver.find_element_by_xpath("//ul[@class= 'd-lg-flex list-style-none']/li[4]").click()

trending = driver.find_element_by_xpath("//a[@href = '/trending']").click()

# Let's create an empty lists to store scraping data
Repository_Title=[]
Repository_Description=[] 
Contributors_Count=[] 
Language_Used=[]
urls=[]

title = driver.find_elements_by_xpath("//article[@class='Box-row']/h1/a")
for i in title:
    Repository_Title.append(i.text)
    urls.append(i.get_attribute('href'))
    
descriptions=driver.find_elements_by_xpath("//article[@class='Box-row']/p")
for i in descriptions:
    Repository_Description.append(i.text)

for url in urls:
    driver.get(url)
    driver.implicitly_wait(3)
    div_list=driver.find_elements_by_xpath('//div[@class="BorderGrid BorderGrid--spacious"]/div')
    try:
        Contributors_Count.append(((div_list[-2].text).split())[1])
    except:
        Contributors_Count.append('---')
    try:
        Language_Used.append(((div_list[-1].text).split())[1::2])
    except:
        Language_Used.append('---')
        
        
print(len(Repository_Title),len(Repository_Description),len(Contributors_Count),len(Language_Used))

25 24 25 25

In [49]:
Repositoriy=pd.DataFrame({})
Repositoriy['Repository Title']=Repository_Title[0:24]
Repositoriy['Repository Description']=Repository_Description[0:24]
Repositoriy['Contributors Count']=Contributors_Count[0:24]
Repositoriy['Language Used']=Language_Used[0:24]
Repositoriy

,Repository Title,Repository Description,Contributors Count,Language Used
0,pallupz / covid-vaccine-booking,This very basic script can be used to automate...,3,[Python]
1,DIGITALCRIMINAL / OnlyFans,Scrape all the media from an OnlyFans account ...,21,"[Python, Other]"
2,public-apis / public-apis,A collective list of free APIs,765,"[Python, Shell]"
3,alura-cursos / imersaodados3,Projeto de data science para imersão dados,2,"[Jupyter, 100.0%]"
4,github / docs,The open-source repo for docs.github.com,586,"[JavaScript, HTML, SCSS, Other]"
5,jlevy / the-art-of-command-line,"Master the command line, in one page",No,"[162, 151]"
6,dogecoin / dogecoin,very currency,201,"[C++, Python, C, M4, Makefile, HTML, Other]"
7,thedevdojo / wave,"Wave - The Software as a Service Starter Kit, ...",2,"[PHP, Blade, Shell]"
8,jwasham / coding-interview-university,A complete computer science study plan to beco...,-,"[195, 184]"
9,TheAlgorithms / Javascript,A repository for All algorithms implemented in...,128,[JavaScript]
10,devsuperior / sds3,Terraform module to create an Elastic Kubernet...,No,[]
11,terraform-aws-modules / terraform-aws-eks,Programming Languages Zoo,202,"[HCL, Shell, Other]"
12,andrejbauer / plzoo,Helps to arrange nodes,9,"[OCaml, Standard, 3.3%, 2.0%]"
13,Shahzod114 / NodeRelax-Blender-Addon,A powerful cross-platform UI toolkit for build...,-,[Python]
14,ionic-team / ionic-framework,Script to check the available slots for Covid-...,407,"[TypeScript, HTML, SCSS, JavaScript, Vue, CSS,..."
15,bhattbhavesh91 / cowin-vaccination-slot-availa...,An introduction to Active Directory security,6,"[Jupyter, 95.5%, 4.0%, 0.5%]"
16,cfalta / adsec,📚 Freely available programming books,-,[PowerShell]
17,EbookFoundation / free-programming-books,Bootstrap Kubernetes the hard way on Google Cl...,-,"[1,609, 1,598]"
18,kelseyhightower / kubernetes-the-hard-way,A collection of services with great free tiers...,-,"[52, 41]"
19,255kb / stack-on-a-budget,Chia blockchain python implementation (full no...,-,"[100, 89]"
20,Chia-Network / chia-blockchain,Deploy Kubernetes Helm Charts,59,"[Python, Other]"
21,roboll / helmfile,"📓 The UI component explorer. Develop, document...",185,"[Go, Shell, Other]"
22,storybookjs / storybook,Highly available Prometheus setup with long te...,"1,293","[TypeScript, JavaScript, Kotlin, Vue, Svelte, ..."
23,thanos-io / thanos,Audio Editor,344,"[Go, TypeScript, Jsonnet, JavaScript, HTML, Ma..."

Q.6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [51]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import StaleElementReferenceException
import warnings
warnings.filterwarnings('ignore')

In [52]:
driver = webdriver.Chrome(r"C:\Users\rahsh\Downloads\driver\chromedriver.exe")

In [53]:
driver.get('https://www.billboard.com/')

In [54]:
# Let's navigate and click on the Top 100 Songs
driver.find_element_by_xpath("//nav[@class='header__subnav bg--light']/ul/li[3]/a").click()

In [55]:
# Let's create an empty lists to store the scraping data
Song_Name=[]
Artist_Name=[] 
Last_Week_Rank=[] 
Peak_Rank=[]
Weeks_on_Board=[]

In [56]:
# Let's create a function
song = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for i in song:
    Song_Name.append(i.text)
artist = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for i in artist:
    Artist_Name.append(i.text)
lastweek = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for i in lastweek:
    Last_Week_Rank.append(i.text)
peak = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for i in peak:
    Peak_Rank.append(i.text)
weeks = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for i in weeks:
    Weeks_on_Board.append(i.text)

In [57]:
# Let's create the dataframe from the scraped data
topsongs=pd.DataFrame({})
topsongs['Song_name']=Song_Name
topsongs['Artist_name']=Artist_Name
topsongs['Last_week_rank']=Last_Week_Rank
topsongs['Peak_rank']=Peak_Rank
topsongs['Weeks_on_board']= Weeks_on_Board
topsongs

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Save Your Tears,The Weeknd & Ariana Grande,6,1,20
1,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),2,1,8
2,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,3,1,6
3,Rapstar,Polo G,1,1,3
4,Levitating,Dua Lipa Featuring DaBaby,5,5,30
...,...,...,...,...,...
95,4 Da Gang,42 Dugg & Roddy Ricch,100,67,4
96,Blame It On You,Jason Aldean,-,97,1
97,Wasted On You,Morgan Wallen,92,9,16
98,Way Less Sad,AJR,-,99,1
99,Clear Da Air,Moneybagg Yo,-,100,1

Q.7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and then on the search panel type Data science and 
click on search. All this should be done through code.

In [87]:
driver = webdriver.Chrome(r"C:\Users\rahsh\Downloads\driver\chromedriver.exe")

In [88]:
driver.get('https://www.naukri.com/')

In [89]:
recruiter=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
driver.get(recruiter.get_attribute('href'))

In [90]:
search_panel=driver.find_element_by_xpath("//input[@class='sugInp']")
search_panel.send_keys("Data Science")
search_button=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [91]:
Name=[]
Designation=[] 
Company=[] 
Skills_they_hire_for=[] 
Location=[]

In [92]:
name = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
for i in name:
    Name.append(i.text)
designation = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for i in designation:
    Designation.append(i.text)
company = driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for i in company:
    Company.append(i.text)
skill = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for i in skill:
    Skills_they_hire_for.append(i.text)
loc = driver.find_elements_by_xpath('//p[@class="highlightable"]/span[2]')
for i in loc:
    try:
        Location.append(i.text)
    except NoSuchElementException:        
        Location.append("NA")

In [93]:
Naukri=pd.DataFrame({})
Naukri['Name']=Name[0:25]
Naukri['Designation']=Designation[0:25]
Naukri['Company']=Company[0:25]
Naukri['Skills they Hire for']= Skills_they_hire_for[0:25]
Naukri['Location']=Location[0:25]
Naukri

,Name,Designation,Company,Skills they Hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Nagpur
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune

Q.8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [94]:
driver = webdriver.Chrome(r"C:\Users\rahsh\Downloads\driver\chromedriver.exe")

In [95]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [96]:
Book_Name=[] 
Author_Name=[] 
Volumes_Sold=[]
Publisher=[] 
Genre=[]

In [97]:
book = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book:
    Book_Name.append(i.text)
author = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author:
    Author_Name.append(i.text)
vol = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in vol:
    Volumes_Sold.append(i.text)
pub = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in pub:
    Publisher.append(i.text)
gen = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in gen:
    Genre.append(i.text)

In [98]:
# Let's create the dataframe from the scraped data
Book=pd.DataFrame({})
Book['Book Name']=Book_Name
Book['Author Name']= Author_Name
Book['Volumes Sold']=Volumes_Sold
Book['Publisher']=Publisher
Book['Genre']=Genre
Book

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q.9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [99]:
driver = webdriver.Chrome(r"C:\Users\rahsh\Downloads\driver\chromedriver.exe")

In [100]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [101]:
Name=[]
Year_Span=[] 
Genre=[] 
Run_Time=[] 
Ratings=[] 
Votes=[]

In [102]:
name = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for i in name:
    Name.append(i.text)
year = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for i in year:
    Year_Span.append(i.text)
gen = driver.find_elements_by_xpath('//span[@class="genre"]')
for i in gen:
    Genre.append(i.text)
runtime = driver.find_elements_by_xpath('//span[@class="runtime"]')
for i in runtime:
    Run_Time.append(i.text)
ratings = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')
for i in ratings:
    Ratings.append(i.text)
vote = driver.find_elements_by_xpath('//span[@name="nv"]')
for i in vote:
    Votes.append(i.text)

In [103]:
TV_Series=pd.DataFrame({})
TV_Series['Name']=Name
TV_Series['Year Span']= Year_Span
TV_Series['Genre']=Genre
TV_Series['Run Time']= Run_Time
TV_Series['Ratings']=Ratings
TV_Series['Votes']=Votes
TV_Series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,802,840"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"847,917"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"867,968"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"260,276"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"221,258"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,220"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,682"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"165,514"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.2,"34,589"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"188,226"

Q.10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [104]:
driver = webdriver.Chrome(r"C:\Users\rahsh\Downloads\driver\chromedriver.exe")

In [105]:
driver.get('https://archive.ics.uci.edu/')

In [106]:
dataset=driver.find_element_by_xpath("//span[@class='normal']/b/a")
driver.get(dataset.get_attribute('href'))

In [107]:
Dataset_Name=[] 
Data_Type=[]
Task=[] 
Attribute_Type=[] 
No_of_Instances=[] 
No_of_Attribute=[] 
Year=[]

In [108]:
name = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td/table/tbody/tr/td[2]/p/b/a')
for i in name:
    Dataset_Name.append(i.text)
name = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td/table/tbody/tr/td[2]/p/b/a')
for i in name:
    Dataset_Name.append(i.text)
datatype = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[2]/p')
for i in datatype:
    Data_Type.append(i.text)
datatype = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[2]/p')
for i in datatype:
    Data_Type.append(i.text)
task = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[3]/p')
for i in task:
    Task.append(i.text)
task = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[3]/p')
for i in task:
    Task.append(i.text)
attribute = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[4]/p')
for i in attribute:
    Attribute_Type.append(i.text)
attribute = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[4]/p')
for i in attribute:
    Attribute_Type.append(i.text)
instances = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[5]/p')
for i in instances:
    No_of_Instances.append(i.text)
instances = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[5]/p')
for i in instances:
    No_of_Instances.append(i.text)
numberattribute = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[6]/p')
for i in numberattribute:
    No_of_Attribute.append(i.text)
numberattribute = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[6]/p')
for i in numberattribute:
    No_of_Attribute.append(i.text)
year = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[7]/p')
for i in year:
    Year.append(i.text)
year = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[7]/p')
for i in year:
    Year.append(i.text)

In [110]:
UCI=pd.DataFrame({})
UCI['Dataset Name']=Dataset_Name 
UCI['Data Type']=Data_Type
UCI['Task']=Task
UCI['Attribute Type']=Attribute_Type
UCI['No of Instances']=No_of_Instances
UCI['No of Attribute']= No_of_Attribute
UCI['Year']=Year
UCI

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
3,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
4,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
...,...,...,...,...,...,...,...
290,LastFM Asia Social Network,Multivariate,Classification,,7624,7842,2020
291,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
292,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
293,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
294,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021